<ion-header>
  <ion-toolbar>
  <div class="left">
    <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
  </div>
    <div class="right">
      <ion-icon ios="ios-search" md="md-search"></ion-icon>
      <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <div class="center" *ngIf="categoryItems === undefined || categoryItems.length == 0; else elseBlock">please check your internet.
  <div style="display: none;">
  <ion-row class="first-row">
    <ion-col>
      <div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="row-wrapper">
    <ion-col *ngFor="let categoryItem of categoryItems | slice:0:2" (click)="onClickHandler(categoryItem.name)" class="single-item" size="6">
      <div>
        <img src="{{ categoryItem.category_img }}" alt="">
        <p>
          {{categoryItem.name}}
        </p>
      </div> 
    </ion-col>
  </ion-row>
    <div class="static">
    </div> 
  <ion-row class="row-wrapper">
    <ion-col *ngFor="let categoryItem of categoryItems | slice:2" (click)="onClickHandler(categoryItem.name)" class="single-item" size="6">
      <div>
        <img src="{{ categoryItem.category_img }}" alt="">
        <p>
          {{categoryItem.name}}
        </p>
      </div> 
    </ion-col>
  </ion-row>
  </div>
</div>
  <ng-template #elseBlock>
  <ion-row class="first-row">
    <ion-col>
      <div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="row-wrapper">
    <ion-col *ngFor="let categoryItem of categoryItems | slice:0:2" (click)="onClickHandler(categoryItem.name)" class="single-item" size="6">
      <div>
        <img src="{{ categoryItem.category_img }}" alt="">
        <p>
          {{categoryItem.name}}
        </p>
      </div> 
    </ion-col>
  </ion-row>
    <div class="static">
    </div> 
  <ion-row class="row-wrapper">
    <ion-col *ngFor="let categoryItem of categoryItems | slice:2" (click)="onClickHandler(categoryItem.name)" class="single-item" size="6">
      <div>
        <img src="{{ categoryItem.category_img }}" alt="">
        <p>
          {{categoryItem.name}}
        </p>
      </div> 
    </ion-col>
  </ion-row>
</ng-template>


</ion-grid>

</ion-content>
