<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="categories"></ion-back-button>
      </ion-buttons>
    <div class="left">
      <p>{{ category.name }}</p>
    </div>
    <div class="right">
      <ion-icon ios="ios-search" md="md-search"></ion-icon>
      <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center" *ngIf="category === undefined; else elseBlock">Please Check Your Internet.
      <div style="display: none;">
        <ion-grid>
          <ion-row>
            <div class="bg">
              <img src=" {{category.img}} " alt="">
            </div>
          </ion-row>
          <ion-row class="tab">
            <ion-col class="active">
              <button>1</button>
            </ion-col>
            <ion-col>
              <button class="tablinks">2</button>
            </ion-col>
          </ion-row>
          <ion-row class="items-list">
            <ion-col *ngFor="let product of category.products" (click)="goToProductDetails(product);" class="item" size="6">
              <div class="item-image">
                <img src="{{ product.product_img }}" alt="">
              </div>
              <div class="item-details">
                <p class="product-name">{{ product.name }}</p>
                <p class="weight">{{ product.weight }}</p>
                <p class="price">{{ product.price }}</p>
              </div>
              <div class="right-side">
                <ion-icon name="add-circle"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="fixed-bottom-buttons">
            <ion-col>
              <p>Sort by</p> 
            </ion-col>
            <ion-col>
              <p>Filter</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <ng-template #elseBlock>
      <ion-grid>
        <ion-row>
          <div class="bg">
            <img src=" {{category.img}} " alt="">
          </div>
        </ion-row>
        <ion-row class="tab">
          <ion-col class="active">
            <button>1</button>
          </ion-col>
          <ion-col>
            <button class="tablinks">2</button>
          </ion-col>
        </ion-row>
        <ion-row class="items-list">
          <ion-col *ngFor="let product of category.products" (click)="goToProductDetails(product);" class="item" size="6">
            <div class="item-image">
              <img src="{{ product.product_img }}" alt="">
            </div>
            <div class="item-details">
              <p class="product-name">{{ product.name }}</p>
              <p class="weight">{{ product.weight }}</p>
              <p class="price">{{ product.price }}</p>
            </div>
            <div class="right-side">
              <ion-icon name="add-circle"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="fixed-bottom-buttons">
          <ion-col>
            <p>Sort by</p> 
          </ion-col>
          <ion-col>
            <p>Filter</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
</ion-content>
