
<ion-content>
  <ion-slides class="slides" pager="true" [options]="slideOpts" (ionSlideReachEnd)="reachedEnd()">
      <ion-slide>
        <div class="image-wrapper">
          <div class="background"></div>
          <h1>Slide 1</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae alias laborum rem sint fugit unde et aspernatur pariatur, nulla, adipisci repudiandae?</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="image-wrapper">
          <div class="background"></div>
          <h1>Slide 2</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae alias laborum rem sint fugit unde et aspernatur pariatur, nulla, adipisci repudiandae?</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="image-wrapper">
          <div class="background"></div>
          <h1>Slide 3</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae alias laborum rem sint fugit unde et aspernatur pariatur, nulla, adipisci repudiandae?</p>
        </div>
      </ion-slide>
    </ion-slides>
</ion-content>
